.wish_list{
    margin-top: 127px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.title_u {
    width: 100%;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}













/* ===============================================================
================================================반응형===============================
=========================================================================== */
@media(max-width:768px){
    .wish_list{
        margin-top: 60px;
    }
}